.description_button_create{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 3rem;
    margin-bottom: 1rem;
    padding: 0;
    
    font-size: 2em;
    letter-spacing: 0.7px;
}

.separator_button_create{
    line-height: 3;
    font-size: 2em;
    color: transparent;
    border-bottom: 1px solid transparent;
}

.btn{
    border: none;
    /* border:  #e0e0e0 1px solid; */
    color: #fff;
    margin-left: 3rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px, 5px, 5px, #ccc;
    font-size: 1rem;
    
}

.btn_create{
    background-color: #42a942;

}